/**
 * Header Styles
 *
 * @package MeatHouse Child
 */

/* Header customizations go here */

/* Example header styles - modify as needed */
.cafe-sticky-row-container:has(#front-sub-header) {
  position: absolute;
}

#maison-depuis {
  border-left: 4px solid var(--e-global-color-primary);
  padding-left: 15px;
}
